.flex1,.flex2 {
    display: flex;
}
p{
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
}
h1{
    text-align: center;
    color: aqua;
}
body{
    background-color: #6a6767;
 }
.flex1{
    border: blue 2px solid;
}



